@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap');

body,
html{
    min-height: 100%;
}

body{
    margin: 0;
    height: 100%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #2c001e;
    background-image: url('Images/avenged.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 80%; /*width of box*/
    margin: auto; /*centers everything*/
}

/*------------------------------------------CODE FOR HEADER---------------------------------------------------------*/

/*Header color*/
header{
    background-color: #693e52;
}


/*To fix header being ignored because of float */
header::after{
    content: '';
    display: table;
    clear: both;
}


/*Moves header categories to the right*/
nav{
    float: right;
}

/*cleaning list*/
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/*list placement (next to each other)*/
nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 35px;
    position: relative;
}

/*Header categories*/
nav ul > li > a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

/*when hovering over header categories*/
nav ul > li > a:hover{
    color: white;
}

/*Creates the line for animation and the animation*/
nav a::before{
    content: '';
    display: block;
    height: 5px;    
    background-color: white;

    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

/*hides the line*/
nav a:hover::before{
    width: 100%;
}

/*----------------------------------------END CODE FOR HEADER---------------------------------------------------------*/

/*----------------------------------------START CODE FOR LOGIN BOX---------------------------------------------------------*/

.loginbox{
    width: 320px;
    height: 420px;
    background: #693e52;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
}

.loginbox h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: #2C001E;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #2C001E;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #2C001E;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #2C001E;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #fff;
    color: black;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

/*----------------------------------------END CODE FOR LOGIN BOX ---------------------------------------------------------*/

/*----------------------------------------START CODE FOR CREATION BOX---------------------------------------------------------*/
.creationBox{
    width: 320px;
    height: 600px;
    background: #693e52;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;
}

.creationBox h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: #2C001E;
}

.creationBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #2C001E;
}

.creationBox input{
    width: 100%;
    margin-bottom: 20px;
}

.creationBox input[type="text"], input[type="password"], input[type="email"], input[type="date"]{
    border: none;
    border-bottom: 1px solid #2C001E;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.creationBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #2C001E;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.creationBox input[type="submit"]:hover{
    cursor: pointer;
    background: #fff;
    color: black;
}

.creationBox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

/*----------------------------------------START CODE FOR CREATION BOX---------------------------------------------------------*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }